<hr class="my-2">
<p></p>
  <div class=" center-block">
      <center>
<div class="col-8 " >
  <div class="jumbotron">

      <div class="h-100 p-5 bg-white bg-gradient border rounded-3">
    <h2 class="display-8" align="center"> Продукты<i><%= @text_add_to_title %></i></h2>

<p></p>

<h8>
  <div class = "row">
    <div class="col-5">
        </div>
    <div class="col-7">
      <cite title="Source Title">**перейдите к заказу продукта по клику на него</cite>
        </div>
  </div>
</h8>

<p>
    <div class="form-group row">
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0 sortable">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">Группа</th>
            <th scope="col">Наименование</th>
          </tr>
        </thead>
        <tbody>
          <%  @products.each_with_index do |pr, index| %>
                  <tr >
                      <th scope="row"><%= index+1 %></th>
                        <td><%= pr.product_group.name %> </td>
                        <td>
                          <i><b>

                            <%= link_to pr.name, new_order_path(:product_id => pr.id), class: "links nav-link menu-link" %>

                          </b></i></td>
                    </tr>
          <% end %>

        </tbody>

          </div>
    </div>

    </div>
</div>
</div>
    </center>
</div>
